* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Outfit', sans-serif; */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: hsl(217,54%, 11%); */
    background-color:  hsl(233, 47%, 7%);
}

h1, h2 {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */

.main-card {
    display: flex;
    border-radius: 5px;
    background-color: hsl(244, 38%, 16%);
    height:400px;
    width: 750px;
    margin: 0 auto;
}

.info-container {
    margin: 30px;
    color: hsl(0, 0%, 100%);
}

.header h1 {
    margin-bottom: 27px;
    font-size: 40px;
}

.header p {
    line-height: 1.5;
    margin-bottom: 44px;
    width: 80%;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}

.header span {
    color: purple;
    font: bold;
}

.stats {
    display:flex;
    align-items: center;
}

.stats span {
    margin-left: 1px;
}

.stats > div {
    margin-right: 75px;
}

.stats > div:nth-last-child(1) {
    margin-right: 0px;
}

.stats h2 {
    margin-bottom: -5px;
}

.stats p {
    font-size: 0.75em;
    color: hsla(0, 0%, 100%, 0.6);
}

.image-shot {

    margin: 0;
    /* object-fit: cover; */
    border-radius: 0 5px 5px 0;
}
/* background: linear-gradient(#3204fdba, #9907facc), url(./images/image-header-desktop.jpg); */
/* background-color: hsl(277, 64%, 61%); */
/* mix-blend-mode: mutliply */

@media screen and (max-width: 900px) {
body {
    flex-direction: column;
}

    .main-card {
        /* display: grid; */
        /* justify-content: center; */
        /* align-items: center; */
        /* margin-top: 150px; */
    flex-direction:column-reverse;
    flex-grow: 1;
    height:500px;
    width: 400px;
    /* overflow-y: scroll */
    }
}
